body {
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif !important;
}

.rightContainer{
    margin-top: 0;
    margin-left: 22.5%;
    margin-right: 4.5%;
}

.user-invite{
    margin-top: 6%;
    margin-bottom: 4.5%;
    font-size: 24px;
}

.event-create-container {
    display: flex;
    align-items: center;
    flex-direction: column; /* This ensures elements are stacked vertically */
    width: 60%;
    height: 50%;
    border: 5px solid #E2E5EF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-create-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    position: relative;
    margin-top: 100px;
}

.round-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

.create-event-btn {
    margin-top: 50px; /* Space between image and button */
    margin-bottom: 50px;
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 500px;
    height: 62.5px;
    border: 2.5px solid #E2E5EF;
}

.create-event-btn:hover {
    background-color: #E2E5EF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid #CACDD6;

}

.event-create-outcontainer{
    display: flex;
    align-content: center;
    
}

.event-creater-image{
    height: 500px;
    width: 200px;
    margin-top: 25px;
    margin-left: 50px;
}
.event-creater-image img{
    height: 450px;
    width: 400px;
}

/*
.event-create-container{
    display: flex;
    justify-content: center;
    
    
    width: 900px;
    height: 500px;
    border: 5px solid #E2E5EF;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-create-img{
    margin-top: 100px;
    position: relative;
    
    height: 150px;
    width: 150px;
    

}

.round-img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
}*/


    