body {
    margin: 0;
    padding: 0%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.mainContainer{
    width: 100vw;
    display: flex;
}

/*----------------Styles of the left navbar--------------*/

.leftPanel{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #002D40;
    color: #FFFFFF;
    display: block;
    padding-left: 2.5%;
    padding-top: 2.5%;
}

.rightContainer{
    width: 80%;
    color: #000000;
    margin-top: 0px;
    margin-left: 20%;
}

.logo{
    display: flex;
    margin-bottom: 10%;
}

.logo img{
    width: 25%;
    height: 25%;
    margin-right: 2.5%;
}

.logo h1{
    margin-top: 5%;
}


.linkHolder{
    width: 60%;
    height: 4.5%;
    margin-bottom: 7.5%;
    font-size: 16px;
    padding-top: 5px;
}

.linkHolder:hover, #activeLink{
    background-color: #B3D9FF;
    border-radius: 5px;
    cursor: pointer;
}

.linkHolder a{
    margin-left: 5%;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding-right: 15%;
}

.linkHolder a:hover{
    color:#002D40 ;
}

.linkHolder i{
    margin-right: 5%;
}

.rightContainer h1, .contentContainer{
    width: 87.5%;
    margin-left: 7.5%;
    /* margin-right: 6.5%; */
    box-sizing: border-box;
}

.rightContainer h1{
    margin-top: 0;
    margin-bottom: 5%;
    padding: 1.5%;
    color: #FFFFFF;
    background-color: #002D40;
    text-align: center;
    font-weight: 500;
}

.contentContainer{
    margin-top: 0.5%;
    margin-bottom: 1.5%;
    padding: 0%;
}

.imageContainer{
    width: 100%;
    display: flex;
    padding: 0%;
}

.leftImg, .midImg, .rightImg{
    width: 32%;
    height: 20%;
}

.leftImg{
    margin-right: 2%;
}

.rightImg{
    margin-left: 2%;
}

.leftImg img, .midImg img, .rightImg img, .imgOnLeft img, .imgOnRight img{
    width: 100%;
    border-radius: 10px;
}

.leftImg p, .midImg p, .rightImg p{
    text-align: center;
}


.imgOnLeft, .imgOnRight{
    width: 48%;
    height: 24%;
}

.imgOnLeft{
    margin-right: 4%;
}

.imageContainer a{
    color: black;
    text-decoration: none;
}

.imageContainer a:hover{
    cursor: pointer;
}


.btn{
    width: 15%;
    padding: 1%;
    margin-left: 85%;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #1E7A8F;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 0%;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border: none;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: #3DA4BF;
    transform: scale(1.05);
}
