body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;       /* Prevents scrollbars */
    font-size: 18px;        /* Default font size */
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3.5px);    /* Adjust the blur radius of the behind images */
    z-index: -1;            /* Ensure it is behind the content */
    background-image: url(../../images/Travelers/signupAndLogin/background.webp);            /*paths marked for incase of folder changes*/
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    filter: brightness(1.25);
    border-radius: 25px;
    overflow: hidden;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* body::before,  */
.container{
    background-image: url(../../images/Travelers/signupAndLogin/bgImage.jpg);            /*paths marked for incase of folder changes*/
}

.container,body::before{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.success-message {
    color: green;
    background-color: #e6ffe6;
    border: 1px solid #b3ffb3;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

.leftContainer{
    display: block;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.logoContainer{
    width: 25%;
    height: 25%;
    margin-left: 72.5%;
    opacity: 0.75;
    background-image: url(../../images/logos/logoBlack.svg);                  /*paths marked for incase of folder changes*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    
}

.textContainer{
    width: 100%;
    height: 75%;
    padding-top: 10%;
    padding-left: 12.5%;
    color: #ffff;
    font-size: 2.25rem;
    line-height: 1.25;
    font-family: Georgia, serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 600;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.rightContainer{
    width: 50%;
    height: 100%;
    background-color: #ffff;
    opacity: 0.8;
    filter: brightness(0.875);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.forrm{
    margin-left: 10%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 14px;
    width: 80%;
}

.heading{
    margin-top: 25%;
    margin-bottom: 10%;
    font-size: 28px;
    color: black;
}

.topInput-container, .bottomInput-container{
    position: relative;
    width: 100%;
}

.topInput-container i{
    position: absolute;
    right: 15px;
    top: 25%;
    transform: translateY(-25%);
    color: white;
}

.topInput{
    margin-bottom: 7.5%;
    padding: 2.5%;
    width: 100%;
    background-color: darkgray;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.bottomInput-container i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.splitInputFields{
    display: flex;
    margin-bottom: 7.5%;
}

.splitInputFields_left,  .splitInputFields_right{
    display: block;
    width: 47.5%;
}

.splitInputFields_left{
    margin-right: 5%;
}

.splitInputFields div input{
    padding: 5%;
    width: 100%;
    background-color: darkgray;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn{
    margin-top: 2.5%;
    width: 100%;
    padding: 2.5%;
    margin-bottom: 1.5%;
    font-size: 14px;
    color: #ffff;
    background-color: darkcyan;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

p{
    font-size: 12px;
}

a{
    color: darkcyan;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

  
@media (max-width: 1080px) {
    body, html {
      font-size: 16px; /* Smaller font size for medium screens */
    }
}
  
@media (max-width: 768px) {
    body, html{
      font-size: 14px; /* Smaller font size for mobile screens */
    }
  }
  
@media (max-width: 480px) {
    body, html{
      font-size: 12px; /* Even smaller font size for small devices */
    }
  }
  